@tailwind base;
@tailwind components;
@tailwind utilities;



body {

  background: #000;

}

@layer utilities {
  .text-balance {
    text-align: justify;
  }
  .before-content-none::before {
    content: "";
  }
}
